{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@types/(.*)$",
    "^@store/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.sass)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
